apiVersion: v1
kind: Service
metadata:
  name: fraud-detection-jobmanager
  namespace: fraud-detection
  labels:
    app: fraud-detection-system
    component: jobmanager
spec:
  type: ClusterIP
  ports:
    - name: rpc
      port: 6123
      targetPort: 6123
    - name: blob
      port: 6124
      targetPort: 6124
    - name: web-ui
      port: 8081
      targetPort: 8081
  selector:
    app: fraud-detection-system
    component: jobmanager
---
apiVersion: v1
kind: Service
metadata:
  name: fraud-detection-jobmanager-rest
  namespace: fraud-detection
  labels:
    app: fraud-detection-system
    component: jobmanager
spec:
  type: NodePort
  ports:
    - name: web-ui
      port: 8081
      targetPort: 8081
      nodePort: 30081
  selector:
    app: fraud-detection-system
    component: jobmanager
---
apiVersion: v1
kind: Service
metadata:
  name: fraud-detection-taskmanager
  namespace: fraud-detection
  labels:
    app: fraud-detection-system
    component: taskmanager
spec:
  type: ClusterIP
  ports:
    - name: rpc
      port: 6122
      targetPort: 6122
    - name: query-state
      port: 6125
      targetPort: 6125
  selector:
    app: fraud-detection-system
    component: taskmanager

